<launch>
  <arg name="bias_file" default=""/>
  <arg name="serial" default=""/>
  <node pkg="metavision_driver" type="driver_node" name="event_camera" clear_params="true"
	output="screen">
    <!-- run in multithreaded mode -->
    <param name="use_multithreading" value="false"/>
    <!-- "message_time_threshold" sets time span for how long events
	 will be buffered until a new ROS message is generated -->
    <param name="event_message_time_threshold" value="0.001"/>
    <!--- use a time of zero to force immediate sending of trigger
	message, else there will always be at least 2 trigger events
	per message -->
    <param name="serial" value="$(arg serial)"/>
    <param name="trigger_out_mode" value="enabled"/>
    <!-- units of trigger_out_period is usec -->
    <param name="trigger_out_period" value="1000"/>
    <param name="trigger_out_duty_cycle" value="0.5"/>
    <param name="trigger_in_mode" value="loopback"/>
    <!-- erc mode: na, enabled, disabled -->
    <param name="erc_mode" value="na"/>
    <param name="erc_rate" value="100000000"/>
    <!-- time interval between printout of rate statistics -->
    <param name="statistics_print_interval" value="1.0"/>
    <!-- from where to load the bias file (if any)  -->
    <param name="bias_file" value="$(arg bias_file)"/>
    <!-- define region of interest: top left (x, y) then width, height
    <rosparam param="roi">[315, 235, 20, 10]</rosparam>
    -->
    <!-- load trigger pin layout for sensors -->
    <rosparam command="load" file="$(find metavision_driver)/config/trigger_pins.yaml"/>
  </node>
</launch>
