<launch>
  <arg name="bag"/>
  <!-- manager node -->
  <node pkg="nodelet" type="nodelet" name="recording_driver"
	args="manager" output="screen"/>
  <!-- recorder node  -->
  <node pkg="nodelet" type="nodelet" name="recorder_nodelet"
	args="load nodelet_rosbag/NodeletRosbag recording_driver" output="screen">
    <param name="rosbag_path" value="$(arg bag)"/>
    <param name="receive_queue_size" value="1000"/>
    <rosparam param="rosbag_record_topics"> ["/event_cam_0/events", "/event_cam_1/events"]</rosparam>
  </node>
  <!-- cam 0 -->
  <node pkg="nodelet" type="nodelet"
    name="event_cam_0" args="load
				metavision_driver/DriverNodelet recording_driver"
    clear_params="true" output="screen">
    <param name="frame_id" value="event_cam_0"/>
    <param name="sync_mode" value="primary"/>
    <param name="event_message_time_threshold" value="0.0001"/>
    <!-- time interval between printout of rate statistics -->
    <param name="statistics_print_interval" value="2.0"/>
    <!-- from where to load the bias file (if any)  -->
    <param name="bias_file" value="$(arg bias_file)"/>
    <!-- run in multithreaded mode -->
    <param name="use_multithreading" value="false"/>
    <!-- listen for ready message from cam 1 -->
    <remap from="~ready" to ="/event_cam_1/ready"/>
  </node>

  <!-- cam 1 -->
  <node pkg="nodelet" type="nodelet"
    name="event_cam_1" args="load metavision_driver/DriverNodelet recording_driver"
    clear_params="true" output="screen">
    <param name="frame_id" value="event_cam_1"/>
    <param name="sync_mode" value="secondary"/>
    <param name="event_message_time_threshold" value="0.0001"/>
    <!-- time interval between printout of rate statistics -->
    <param name="statistics_print_interval" value="2.0"/>
    <!-- from where to load the bias file (if any)  -->
    <param name="bias_file" value="$(arg bias_file)"/>
    <!-- run in multithreaded mode -->
    <param name="use_multithreading" value="false"/>
  </node>
</launch>
