<launch>
  <arg name="bag"/>
  <arg name="bias_file" default="$(find
				 metavision_ros_driver)/biases/silky_ev_cam.bias"/>
  <node pkg="nodelet" type="nodelet" name="driver_manager"
	args="manager" output="screen"/>
  <node pkg="nodelet" type="nodelet"
    name="metavision_driver" args="load
				   metavision_ros_driver/DriverNodelet driver_manager"
    clear_params="true" output="screen">
    <param name="message_time_threshold" value="0.0001"/>
    <!-- time interval between printout of rate statistics -->
    <param name="statistics_print_interval" value="2.0"/>
    <!-- from where to load the bias file (if any)  -->
    <param name="bias_file" value="$(arg bias_file)"/>
    <!-- run in multithreaded mode -->
    <param name="use_multithreading" value="false"/>
    <!-- what kind of messages to write (dvs or prophesee, event_array2) -->
    <param name="message_type" value="event_array2"/>
  </node>
  
  <node pkg="nodelet" type="nodelet" name="recorder_manager"
	args="manager" output="screen"/>
  <node pkg="nodelet" type="nodelet" name="recorder_nodelet"
	args="load nodelet_rosbag/NodeletRosbag recorder_manager" output="screen">
    <param name="rosbag_path" value="$(arg bag)"/>
    <param name="receive_queue_size" value="1000"/>
    <rosparam param="rosbag_record_topics"> ["/metavision_driver/events"]</rosparam>
  </node>
</launch>
